{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="top-row">
            <a href="{% url 'agregar_producto' %}" class="dashboard-btn productos-btn">📦 Productos</a>
            <a href="#" class="dashboard-btn ventas-btn">🛒 Ventas</a>
        </div>
        <br>
        <div class="bottom-row estadistica">
            <a href="#" class="dashboard-btn estadisticas-btn">📊 Estadísticas</a>
        </div>
    </div>
</body>
</html>
